*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    /* Definindo as variáveis principais da página referentes a estilização */
    --background-theme: #F5F5F5;
    --color-theme: #304FFE;
    --light-color: #CFD8DC;

    min-width: 370px;
}

.header{
    background-color: #263238;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    padding: 25px;
    background-image: url(../images/background_template.png);
    background-size: cover;
}

.header ul{
    float: right;
}

.header li{
    display: inline-block;
    margin: 0 10px;
}

a{
    text-decoration: none;
    color: var(--light-color);
    padding: 15px;
    border-radius: 5px;
}

a:hover{
    background-color: var(--color-theme);
}

.layout{
    margin: 80px auto 30px;
    width: 80%;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
}

.group{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-bottom: 2px solid var(--light-color);
    background-color: transparent;
}

.group > div{
    background-color: var(--background-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

/* Seção de apresentação */

.presentation, .qualities, .tools, .projects, .contact{
    align-items: stretch;
}

.profile{
    width: 40%;
    text-align: center;
    flex-direction: column;
    border-radius: 20px 0 0 0;
}

.profile img{
    position: absolute;
    top: 90px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.profile h1{
    margin-top: 80px;
    color: var(--color-theme);
}

/* Configurando color picker */
.house-of-colors{
    position: absolute;
    background-color: transparent !important;
    top: 82px;
    left: 40px;
    opacity: .7;
}

.house-of-colors img{
    width: 40px;
    padding: 10px;
    border-radius: 100%;
    background-color: var(--light-color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.house-of-colors > div{
    margin-top: -65px;
}

#color-picker{
    background-color: transparent;
    border: 0px;
    width: 60px;
    height: 60px;
    opacity: 0;
    cursor: pointer;
}

.aboutme{
    flex-direction: column;
    background-color: var(--color-theme) !important;
    color: var(--background-theme);
    width: 60%;
    justify-content: center;
    border-radius: 0px 20px 0px 0px;
    min-height: 280px;
}

.aboutme h3{
    color: var(--background-theme) !important;
    margin-bottom: 30px;
}

/* Configurações de estilização geral */
.img-banner-icon{
    width: 40%;
    min-height: 300px;
    background-color: var(--color-theme) !important;
}

.img-banner-icon img{
    height: 110px;
    padding: 30px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

.main{
    width: 60%;
}

.group h3{
    color: var(--color-theme);
    margin-bottom: 25px;
}

/* Seção - Um pouco mais sobre mim */
.little-more{
    flex-direction: column;
}

.little-more h3{
    text-align: left;
    width: 100%;
}

.little-more p{
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}

.little-more li{
    list-style: none;
}

.little-more li:nth-child(even){
    margin: 15px 0;
}

/* Seção ferramentas e tecnologias */
.show-tools{
    flex-direction: column;
}

.show-tools h4{
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}

.show-tools h4:last-of-type{
    margin-top: 15px;
}

.experience, .learning{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--light-color);
    border-radius: 5px;
    white-space: nowrap;
    overflow-x: auto;
}

/* Estilizando a barra de rolagem da seção de ferramentas */
.show-tools > div::-webkit-scrollbar{
    height: 5px;
}

.show-tools > div::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, .1);
    border-radius: 0 0 20px 20px;
}

.show-tools > div::-webkit-scrollbar-thumb{
    background-color: var(--color-theme);
    border-radius: 0 0 20px 20px;
}

.show-tools img{
    width: 40px;
    padding: 6px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
    cursor: pointer;
    vertical-align: middle;
}

.experience img:nth-child(even), .learning img:nth-child(even){
    margin: 0 10px;
}

/* Seção de projetos */
.projects-list{
    flex-direction: column;
    text-align: center;
}

.main-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* Seção de contato */
.contact{
    border: 0px;
}

.contact .img-banner-icon{
    border-radius: 0 0 0 20px;
}

.contact-list{
    flex-direction: column;
    border-radius: 0 0 20px 0;
    box-sizing: border-box;
}

.fa{
    padding: 15px;
    color: var(--light-color);
    background-color: var(--color-theme);
    border-radius: 5px;
}

.contact a{
    box-sizing: border-box;
    text-decoration: none;
    width: 70%;
    margin-bottom: 5px;
}

.contact a span{
    margin-left: 20px;
}

@media (max-width: 1200px){
    .header ul{
        float: none;
        text-align: center;
    }

    .profile h1{
        margin-top: 110px;
    }
}

@media (max-width: 1000px){
    .group{
        flex-direction: column;
    }

    .group > div{
        width: 100%;
    }

    .profile{
        border-radius: 20px 20px 0 0;
    }

    .aboutme{
        border-radius: 0px;
        text-align: center;
    }

    .little-more-img{
        height: 380px;
    }

    .tools{
        flex-direction: column-reverse;
    }

    .tools-img{
        height: 380px;
    }

    .projects-img{
        height: 380px;
    }

    .contact{
        flex-direction: column-reverse;
    }

    .contact-list{
        border-radius: 0px;
    }

    .contact .img-banner-icon{
        height: 380px;
        border-radius: 0 0 20px 20px;
    }
}

@media (max-width: 900px){
    .layout{
        width: 90%;
    }

    .aboutme p{
        box-sizing: border-box;
        padding: 0 20px;
    }
}

@media (max-width: 650px){
    .header ul{
        display: flex;
        flex-direction: column;
    }

    .header ul li{
        margin: 20px auto;
        width: 80%;
    }

    .house-of-colors{
        top: 315px;
    }

    .layout{
        margin-top: 100px;
    }

    .profile img{
        top: 330px;
    }
}

@media (max-width: 430px){
    .experience, .learning{
        text-align: center;
    }

    .house-of-colors{
        left: 20px;
    }
}